{% include floating-jump-link.html jump="sign" text="Sign Now" %}

{% comment %}
adds a jump button that hovers at bottom of page until it
reaches the point on the page this tag was added, then it disappears
{% endcomment %}