<div
class="Chaos-Big-Header  {% if include.blok.border_bottom.reflect %}shift{% endif %} {% if include.blok.full %}full{% endif %}"
style="background-image: url('{{ include.blok.image.filename }}');background-position-x: {{ include.blok.image.location }};"
>
  <div class="Chaos-Section">
    <div class="Chaos-Wrapper-Wide">
      {{ include.blok.text | render_richtext }}
      {% if include.blok.buttons %}
        {% include storyblok_buttons.html blok=include.blok.buttons %}
      {% endif %}
    </div>
  </div>
  {% if include.blok.border_bottom.image %}
    <div class="border-bottom-container">
      <div class="border-bottom" style="background-image:url('{{ include.blok.border_bottom.image | relative_url }}')"></div>
      {% if include.blok.border_bottom.reflect %}
      <div class="border-bottom reflect" style="background-image:url('{{ include.blok.border_bottom.image | relative_url }}')"></div>
      {% endif %}
    </div>
  {% endif %}
</div>
